# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Local files
local/
key
# old
session
# new
goinsta-session
# tiktok session
tiktok-session.json

# Log files
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Vendor folder
vendor/

# Config (contains credentials)
config/config.json

# Binaries
go-instabot
instabot

# Screenshots
*.png

# OS files
.DS_Store
Thumbs.db

# Sessions & downloads
youtube-session.json
config/youtube-cookies.txt
downloads/
